h1 {
  background-color: aqua;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
header {
  text-align: center;
}
h2 {
  width: 100%;
  background-color: aquamarine;
  margin: 0;
}

.flexBox {
  display: flex;
  width: 100%;
}

.leftMenu {
  background-color: yellow;
  min-width: 160px;
  height: 100px;
  position: sticky;
  top: 0;
}
.rightSideBar {
  background-color: gray;
  min-width: 300px;
}
.main {
  background-color: violet;
  width: 100%;
}

@media (min-width: 1800px) {
  .leftMenu {
    margin-left: calc((100vw - 1800px));
  }
  .rightSideBar {
    margin-right: calc((100vw - 1800px));
  }
}
