* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: aqua;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}
header {
  text-align: center;
}
h2 {
  width: 100%;
  background-color: aquamarine;
  margin: 0;
}

.flexBox {
  display: flex;
  width: 100%;
}

.leftMenu {
  background-color: yellow;
  min-width: 160px;
  height: 100px;
  position: sticky;
  top: 0;
}
.rightSideBar {
  min-width: 300px;
}
.main {
  background-color: violet;
  width: 100%;
}

@media (min-width: 1800px) {
  .leftMenu {
    margin-left: calc((100vw - 1800px));
  }
  .rightSideBar {
    margin-right: calc((100vw - 1800px));
  }
}
@media only screen and (max-width: 800px) {
  .rightSideBar {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  /* .leftMenu {
    display: none;
  } */
  .flexBox {
    display: contents;
  }
}

/* 1500 에 4->3 
  1200 에 3->2
  800에 right 날리고
  600에 left 날릭ㅎ
*/
